@model IEnumerable<Producer>

@{
    ViewData["Title"] = "Producers";
}

<div class="container-content">
    <form asp-controller="Movie" asp-action="Movies" method="get">
        <div class="container-form">
            <a asp-controller="Movie" asp-action="Movies"><p>Фільми</p></a>
            <a asp-controller="Actor" asp-action="Actors"><p>Актори</p></a>
            <a asp-controller="Producer" asp-action="Producers" class="form-link-now"><p>Продюсери</p></a>
            <a asp-controller="Cinema" asp-action="Cinemas"><p>Кінотеатри</p></a>
            <div>
                <input class="search-input" type="text" name="search" placeholder="Пошук..." />
                <input class="search-button" type="submit" value="Уперед" />
            </div>
            @if (User.IsInRole("Admin"))
            {
                <a asp-controller="Movie" asp-action="Create"><div class="add"><p>Add</p></div></a>
            }
        </div>
    </form>

    <div class="cards-container">
        @foreach (var producer in Model)
        {
            <div class="card">
                <a asp-action="Details" asp-route-id="@producer.ProducerId">
                    <div class="card-filing">
                        <div class="card-header">
                            <img src="@producer.ProfilePictureURL" alt="img-card" class="card-img">
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <a asp-controller="Account" asp-action="Register"><div class="card-bookmark"><img src="~/img/icon/bookmark-yellow.png" alt="bookmark"></div></a>
                            }
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="card-bookmark"><img src="~/img/icon/bookmark-yellow.png" alt="bookmark"></div>
                            }
                            <div class="card-score"><img src="~/img/icon/star.png" alt="star" class="icon"><span>9.4</span></div>
                            <div class="card-icon-details"></div>
                        </div>
                        <div class="card-info">
                            <div class="card-info-header">
                                <h1>@producer.FullName</h1>
                            </div>
                            <ul>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <p></p>
                        </div>
                    </div>
                </a>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-controller="Movie" asp-action="Delete" asp-route-id="@producer.ProducerId"><div class="card-info-icon"><img src="~/img/icon/remove.png" /></div></a>
                }
                @if (User.IsInRole("Moderator"))
                {
                    <a asp-controller="Movie" asp-action="Edit" asp-route-id="@producer.ProducerId"><div class="card-info-icon"><img src="~/img/icon/edit.png" /></div></a>
                }
            </div>
        }
    </div>
</div>