@using Microsoft.AspNetCore.Mvc.Razor;
@model IEnumerable<MovieDTO>

@{
    ViewData["Title"] = "Movies";
}

<div class="container-content">
    <header>
        <div class="slider">
            <div class="slide">
                
            </div>
        </div>
    </header>
    <div class="container-form">
        <div class="container-nav">
            <a asp-controller="Movie" asp-action="Movies" class="form-link-now"><p>Фільми</p></a>
            <a asp-controller="Actor" asp-action="Actors"><p>Актори</p></a>
            <a asp-controller="Producer" asp-action="Producers"><p>Продюсери</p></a>
            <a asp-controller="Cinema" asp-action="Cinemas"><p>Кінотеатри</p></a>
        </div>
        <div class="container-search-input">
            <input class="search-input" type="text" name="search" id="search" placeholder="Пошук..." autocomplete="off"  />
            <div class="list-searcher"></div>
        </div>
    </div>

    <div class="cards-container">
    @foreach (var movie in Model)
    {
        <div class="card">
            <a asp-action="Details" asp-route-id="@movie.MovieId">
                <div class="card-filing">
                    <div class="card-header">
                        <img src="@movie.ImageURL" alt="img-card" class="card-img">
                        @if(!User.Identity.IsAuthenticated) {
                            <a asp-controller="Account" asp-action="Register" id="register-link">
                                <div class="card-bookmark">
                                    <img src="~/img/icon/bookmark-yellow.png" alt="bookmark">
                                </div>
                            </a>
                        }
                        @if (User.Identity.IsAuthenticated)
                        { 
                            <div class="card-bookmark" data-id="@movie.MovieId">
                                @{
                                    if(movie.IsInBookmark) {
                                        <img src="~/img/icon/bookmark-fill-yellow.png" alt="bookmark">
                                    }
                                    else {
                                        <img src="~/img/icon/bookmark-yellow.png" alt="bookmark">
                                    }
                                }
                            </div>
                        }
                        <div class="card-score"><img src="~/img/icon/star.png" alt="star" class="icon"><span>9.4</span></div>
                        <div class="card-icon-details"></div>
                    </div>
                    <div class="card-info">
                        <div class="card-info-header">
                            <h1>@movie.Name</h1>
                            @Html.Raw(GetStatus(movie.StartDate, movie.EndDate))
                        </div>
                        <ul>
                            <li>@movie.EndDate.ToString("yyy")</li>
                            <li>@movie.Category</li>
                            <li>45min</li>
                            <li>16+</li>
                            <li>USA</li>
                        </ul>
                        <p>Director: @movie.ProducerId</p>
                    </div>
                </div>
            </a>
            @if (User.IsInRole("Admin"))
            {
                <a asp-controller="Movie" asp-action="Delete" asp-route-id="@movie.MovieId"><div class="card-info-icon"><img src="~/img/icon/remove.png" /></div></a>
            }
            @if (User.IsInRole("Moderator"))
            {
                <a asp-controller="Movie" asp-action="Edit" asp-route-id="@movie.MovieId"><div class="card-info-icon"><img src="~/img/icon/edit.png" /></div></a>
            }
        </div>
    }
    </div>
    @if (User.IsInRole("Admin") || User.IsInRole("Owner"))
    {
        <a asp-controller="Movie" asp-action="Create"><div class="add"><p>Add</p></div></a>
    }
</div>

@{
    string GetStatus(DateTime start, DateTime end)
    {
        var now = DateTime.Now;
        var word = ""; var cssClass = "";

        if (start < now && now < end) { word = "Новий"; cssClass = "card-status-new"; }
        else if (now < start) { word = "Скоро"; cssClass = "card-status-future"; }
        else if (now > end && end.Year == now.Year) { word = "Пройшло"; cssClass = "card-status-last"; }

        var html = $"<div class=\"card-status {cssClass}\"><span>{word}</span></div>";

        return html;
    };
}

<script>
    document.addEventListener("DOMContentLoaded", () => {

        document.querySelector('#search').addEventListener('input', (e) => {
            const searchString = e.target.value;

            search(searchString);
        })

        if(!document.querySelector('#register-link')) {
            document.querySelectorAll('.card-bookmark').forEach(item => {
                item.addEventListener('click', (e) => {
                    e.preventDefault()
                    e.stopPropagation()

                    const img = item.querySelector('img');
                    const defImgPath = 'http://localhost:5101/img/icon/bookmark-yellow.png'
                    const fillImgPath = 'http://localhost:5101/img/icon/bookmark-fill-yellow.png'
                    if (img.src === defImgPath)
                        img.src = fillImgPath
                    else if (img.src === fillImgPath)
                        img.src = defImgPath;

                    const movieId = item.dataset.id
                    addBookmark(movieId)
                })
            })
        }
    })

    function search(searchString) {
        fetch('@Url.Action("Search", "Movie")' + '?search=' + searchString, {
            method: "GET",
        }).then((resp) => {

            resp.json().then((data) => {

                const container = document.querySelector('.list-searcher');
                let html = ``;
                if (!data || !data.length) {
                    data = [];
                }

                for (const movie of data) {
                    html += `
                            <div class="search-item" data-id="${movie.movieId}">
                                <img src="${movie.imageURL}" />
                                <span>${movie.name}</span>
                            </div>
                           `;
                }
                container.innerHTML = html;

                document.querySelectorAll('.search-item').forEach((item) => {

                    item.addEventListener('mouseover', (e) => {
                        const searchText = item.innerText;
                        document.querySelector('#search').value = searchText;
                    })

                    item.addEventListener('click', (e) => {
                        window.location.href = '@Url.Action("Details", "Movie")' + '/' + e.currentTarget.dataset.id;
                    })
                })
            })
        })
    }

    const addBookmark = (movieId) => {
        const url = '/Movie/Bookmark/' + movieId

        fetch(url, {
        method: 'POST',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
            }
        }).then(function (res) {
            console.log(res)
        })
    }
</script>