@using Microsoft.AspNetCore.Mvc.Razor;
@model IEnumerable<Movie>

@{
    ViewData["Title"] = "Movies";
}


<form asp-controller="Movie" asp-action="Movies" method="get">
    <div class="container-form">
        <div>
            Search: <input type="text" name="search" />
            <input type="submit" value="Filter" />
        </div>
        <div class="add"><a asp-controller="Movie" asp-action="Create">Add</a></div>
    </div>
</form>

<div class="card-container">
@foreach (var movie in Model)
{
    <div class="card">
        <a asp-action="Details" asp-route-id="@movie.MovieId">
            <div class="card-filing">
                <div class="card-header">
                    <img src="@movie.ImageURL" alt="img-card" class="card-img">
                    @if(!User.Identity.IsAuthenticated) {
                        <a asp-controller="Account" asp-action="Register"><div class="card-bookmark"><img src="~/img/icon/bookmark-yellow.png" alt="bookmark"></div></a>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="card-bookmark"><img src = "~/img/icon/bookmark-yellow.png" alt="bookmark"></div>
                    }
                    <div class="card-score"><img src="~/img/icon/star.png" alt="star" class="icon"><span>9.4</span></div>
                    <div class="card-icon-details"></div>
                </div>
                <div class="card-info">
                    <div class="card-info-header">
                        <h1>@movie.Name</h1>
                        @Html.Raw(GetStatus(movie.StartDate, movie.EndDate))
                    </div>
                    <ul>
                        <li>@movie.EndDate.ToString("yyy")</li>
                        <li>@movie.Category</li>
                        <li>45min</li>
                        <li>16+</li>
                        <li>USA</li>
                    </ul>
                    <p>Director: @movie.ProducerId</p>
                </div>
            </div>
        </a>
        @if (User.IsInRole("Admin"))
        {
            <a asp-controller="Movie" asp-action="Delete" asp-route-id="@movie.MovieId"><div class="card-info-icon"><img src="~/img/icon/remove.png" /></div></a>
        }
        @if (User.IsInRole("Moderator"))
        {
            <a asp-controller="Movie" asp-action="Edit" asp-route-id="@movie.MovieId"><div class="card-info-icon"><img src="~/img/icon/edit.png" /></div></a>
        }
    </div>
}
</div>

@{
    string GetStatus(DateTime start, DateTime end)
    {
        var now = DateTime.Now;
        var word = ""; var cssClass = "";

        if (start < now && now < end) { word = "Новий"; cssClass = "card-status-new"; }
        else if (now < start) { word = "Скоро"; cssClass = "card-status-future"; }
        else if (now > end && end.Year == now.Year) { word = "Пройшло"; cssClass = "card-status-last"; }

        var html = $"<div class=\"card-status {cssClass}\"><span>{word}</span></div>";

        return html;
    };
}

<style>
    .button {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 23px;
        right: 23px;
        background: white;
        text-align: center;
        display: inline-block;
        cursor: pointer;
    }

    .add {
        display: inline-block;
        background-color: #999999;
        width: 70px;
        height: 35px;
    }
</style>