@model IEnumerable<Cinema>

@{
    ViewData["Title"] = "Cinemas";
}

@foreach (var cinema in Model)
{
    <div class="card">
        <a class="card-link" asp-action="Details" asp-route-id="@cinema.CinemaId">
            <div class="container">
                <img src="@cinema.Logo" style="width: 170px; height: 230px;">
                <div class="card-content">
                    <p>@cinema.Name</p>
                </div>
            </div>
            <p class="card-description">@cinema.Description</p>
        </a>
        <a asp-action="Edit" asp-route-id="@cinema.CinemaId"><div class="button">e</div></a>
    </div>
}
<div class="add"><a asp-action="Create">Add</a></div>

<style>
    p {
        margin: 0px;
    }

    a {
        color: black;
        text-decoration: none;
    }

    a:hover {
        color: black;
    }

    .card {
        width: 300px;
        height: 100%;
        border: 1px solid #999999;
        border-radius: 5px;
        display: inline-block;
    }

    .card-link {
        display: block;
        padding: 10px;
    }

    .container {
        padding: 0px;
        display: flex;
    }

    .card-content {
        margin-left: 5px;
    }

    .card-description {
        height: 140px;
        overflow: hidden;
    }

    .button {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: #999999;
        text-align: center;
        display: inline-block;
        cursor: pointer;
    }

    .add {
        display: inline-block;
        background-color: #999999;
        width: 70px;
        height: 50px;
        position: fixed;
    }
</style>