@model IEnumerable<Actor>

@{
    ViewData["Title"] = "Actors";
}

@foreach(var actor in Model) {
        <div class="card" style="width: 230px; height: 100%; padding: 10px; border: 1px solid #999999; border-radius: 5px; display: inline-block;">
            <a asp-action="Details" asp-route-id="@actor.ActorId">
                <div class="card-content">
                    <img src="@actor.ProfilePictureURL" style="width: 170px; height: 230px;">
                    <p>@actor.FullName</p>
                    <p>@actor.Bio</p>
                </div>
            </a>
            <a asp-action="Edit" asp-route-id="@actor.ActorId"><div class="button">e</div></a>
        </div>
}
<div class="add"><a asp-controller="Actor" asp-action="Create">Add</a></div>

<style>
    a {
        color: black;
        text-decoration:none;
    }
    .button {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: #999999;
        text-align: center;
        display: inline-block;
        cursor: pointer;
    }
    .add {
        background-color: #999999;
        width: 70px;
        height: 50px;
        position: fixed;
    }
</style>

<script type="text/jscript">
    function DeleteActor(id) {
        let path = "/Actor/Delete/" + id;
        $.get(path);
    };
</script>
