<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FilmSearcher.Web</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/movies-style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sign-style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/users-style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FilmSearcher.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FilmSearcher</a>
                <div class="navbar-info-container">
                    <ul class="navbar-info">
                        <li>
                            @if(User.IsInRole("Moderator")) 
                            {
                                <div class="user-role moderator">Moderator</div>
                            }
                            @if(User.IsInRole("Admin"))
                            {
                                <div class="user-role admin">Admin</div>
                            }
                            @if (User.IsInRole("Owner"))
                            {
                                <div class="user-role owner">Owner</div>
                            }
                        </li>
                        <li>
                            @if(User.Identity.IsAuthenticated) {
                                <div class="container-user-btn">
                                    <p>Привіт, @User.Identity.Name!</p>
                                </div>
                                <div class="container-user-info">
                                    <div class="user-info-header">
                                        <div class="user-info-back-pic" style="background: url('../img/picture/background-dark.jpg'); background-size: cover; background-position-y: center;"><div class="user-info-edit-btn"></div></div>
                                        <img class="user-profile-photo" src="~/img/picture/002.jpg" alt="user-photo" />
                                    </div>
                                    <div class="user-info-main">
                                         <p>@User.Identity.Name</p>
                                        <p>govno@gmail.com</p>
                                    </div>
                                    <ul>
                                        <a asp-controller="User" asp-action="Profile" asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)"><li><img src="~/img/icon/f.png" /><p>Переглянути профіль</p></li></a>
                                        <a asp-controller="Account" asp-action="Logout"><li><img src="~/img/icon/logout.png" /><p>Вийти з аккаунту</p></li></a>
                                    </ul>
                                </div>
                            }
                            @if(!User.Identity.IsAuthenticated)
                            {
                                <a asp-controller="Account" asp-action="Login"><p>Увійти</p></a>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - FilmSearcher.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>